.single-page-wrapper {
    .movie-details {
        display: flex;
        justify-content: flex-start;

        .image {
            width: calc(30%);

            img {
                max-width: 400px
            }
        }

        .details {
            width: calc(30%);
            margin-left: 20px;
        }
    }
}