$color-primary: #282c39;
$color-secondary: #151d26;
$color-tertiary: #2f3444;
$btn-active: #298eea;


$color-black : #000000;
$color-light-black: #333333;
$color-white: #ffffff;
$color-light-white: rgba(255, 255, 255, 0.7);


$transition: all .5s ease-in-out;